*{
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
nav{
    display:flex;
    flex-direction: row;
}
.links{
    margin-left:auto;
    margin-right: 20px;
    margin-top: 20px;
}
.links a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    font-family: Arial;
    font-size: 13px;
}
.links a:hover{
    text-decoration-line: underline;
    color: rgb(28, 28, 90);
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex-grow: 1;
}
img{
    margin-top: 16.6vh;
    object-fit: none;
}
.search-bar{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 27px;
    height: 44px;
    width: 30vw;
    border-radius: 24px;
    border: 1px solid rgb(223, 223, 223);
    padding-left: 4px;
}
.search-bar:hover{
    border: 1px solid white;
    box-shadow: 0px 1px 5px rgb(168, 168, 168);
}
svg{
    padding-left: 10px;
    padding-right: 10px;
    color: #929292;
}
.search-bar input{
    border: none;
    width: 90%;
    height: 90%;
    background: transparent;
}
.search-bar button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.buttons{
    margin-top: 29px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.buttons input{
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(241, 241, 241);
    color: rgb(105, 105, 105);
}
.buttons input:hover{
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(190, 190, 190);
    background-image: linear-gradient(rgb(247, 247, 247), rgb(241, 241, 241));
    color: black;
}
.logo{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 57px;
}
.logo span{
    color:#5381ff;
    align-self: flex-end;
    position: relative;
    right: 55px;
}
.adv-search{
    background-color: rgb(238, 238, 238) !important;
}
.adv-search img{
    width: 90px;
    object-fit: scale-down !important;
    margin-top: 17px !important;
    margin-left: 17px !important;
    margin-bottom: 12px;
}
.adv-search-logo{
    font-size: 20px;
    font-weight: 500;
    color: rgb(201, 26, 26);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 25px;
}
.adv-search-main{
    margin-top: 40px;
    margin-left: 45px;
}
.adv-search-bar{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.adv-search-form-container{
    width: 750px;
    display: flex;
    flex-direction: column;
}
.adv-search-bar input{
    margin-left: auto;
    padding-left: 5px;
    width: 74%;
    height: 24px;
    border: 1px solid rgb(189, 189, 189);
}
.adv-search-bar input:focus{
    border: 1px solid rgb(73, 140, 240);
    box-shadow: inset 7px 10px 2px -9px rgb(180, 180, 180);
}
.adv-search-form-headers{
    width: 50vw !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: baseline;
}
.to-do-header{
    margin-left: auto;
    color: grey;
    font-size: 13px;
    font-weight: 600;
    margin-right: 30px;
    font-family: Arial;
}
form{
    display: flex;
    flex-direction: row;
}
.definitions{
    margin-left: 15px;
}
.definition-bar{
    margin-top: 15px;
    height: 28.5px;
    color: grey;
}
.definition-bar small{
    font-size: 11px;
}
.adv-search-button{
    margin-top: 20px;
    margin-left: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(40, 139, 252);
    border: 1px solid rgb(0, 119, 255);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.adv-search-button:hover{
    background-image: linear-gradient(rgb(40, 139, 252), rgb(27, 116, 218));
}